<div class="modal customer-modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Edit Customer {{currentCustomer.sequence}}</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-close"
                    ng-click="cancel()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <img class="signature" ng-src="{{currentCustomer.signature}}" />
        <div class="list popup-edit-customer">
            <label class="item item-input item-select"
                   ng-repeat="(id, question) in questionService.questions">
                <div class="input-label">
                    {{question.name}}
                </div>
                <select ng-model="currentCustomer.answers[id]">
                    <option ng-repeat="answer in question.answers">{{answer}}</option>
                </select>
            </label>
        </div>
        <button class="button button-block button-balanced icon-left ion-checkmark-round"
                ng-click="save()">Save</button>
    </ion-content>
</div>