.customer-item {
    padding: 0;
    height: 116px;
    position: absolute;
}

.customer-item img.signature {
    height: 70px;
    max-width: 100%;
}

.customer-modal img.signature, 
.waiting-customer img.signature,
.called-customer img.signature,
.missed-customer img.signature {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.waiting-customer .class {
    position: relative;    
}
.waiting-customer .sequence-timing {
    position: absolute;
    top: 0; right: 0;
    color: gray;
}

.customer-item th {
    padding-right: 10px;
}
.customer-item td {
    font-weight: 800;
}
.customer-item .sequence {
    position: relative;    
    color: #145fd7;
    font-size: 49px;
    text-align: center;
}
.customer-item .sequence .sequence-timing {
    position: absolute;    
    bottom: -35px;   
    left: 50%;
    color: gray;
    display: inline-block;    
    margin-left: -22px;  
    width: 44px;
    font-size: 16px;
    text-align: center;
}    
.customer-item .sequence-sm {
    display: none;
}
.customer-item .answers {
    
}

.popup-edit-customer {
    
}

.bar {
    transition: background-color 500ms linear;
    flex-direction: column;
}

@media screen and (max-width: 800px)/* and (orientation:portrait)*/ {
    .customer-item .sequence {
        display: none;
    }
    
    .customer-item .sequence-sm {
        color: white;
        display: block;
        position: absolute;
        border: solid rgb(221, 221, 221) thin;
        background: #428bca;        
        
        font-size: 21px;
        padding: 0px 5px;
    }
    .customer-item .sequence-sm .sequence-timing {
        position: absolute;
        left: 100%;
        padding: 0 5px;
        font-size: 16px;
        color: gray;
    }    
}

.answer-item {
    margin-bottom: 5px;
}

.answer-item * {
    text-align: center;
}

.time-bar {
    background-color: #EDEDED;
}

.time-bar .created-at {
    color: #8E8E8E;
}

.time-bar .wait-for {
    color: #8ABDEF;
    float: right;
}

.answer-list {
    background: #ECECEC;
}